<% if @animals.empty? %>
  <div>
    Your cart is empty
  </div>
<% else %>
  <%= form_tag do %>
    <%= fields_for :skus do |skus| %>
      <% @animals.each do |a| %>
        <div>
          <%= link_to a.name, a %>
        </div>
        <table>
          <thead>
            <tr>
              <th>SKU ID</th>
              <th>price</th>
              <th>Semen Count</th>
              <th>Semen Type</th>
              <th>Storage Facility</th>
              <th>Quantity Available</th>
              <th>Purchase Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% a.skus.select("min(skus.id) as id,array_agg(skus.id) as ids,price_per_unit,semen_type,semen_count,storagefacility_id,sum(quantity) as sum_quantity").where(private: false).group(:price_per_unit,:semen_type,:semen_count,:storagefacility_id).joins(:inventory_transaction).each do |sku| %>
              <% next if sku.sum_quantity < 1 %>
              <tr>
                <td><%= sku.ids.first %></td>
                <td><%= sku.price_per_unit %></td>
                <td><%= sku.semen_count %></td>
                <td><%= sku.semen_type %></td>
                <td><%= sku.storagefacility.name %></td>
                <td><%= sku.sum_quantity %></td>
                <td><%= skus.number_field sku.id, value: 0, min: 0, max: sku.sum_quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
    <%= submit_tag "Checkout" %>
  <% end %>
<% end %>
