<%= form_for @reg do |r| %>
    <div>
      <%= r.label :registrar %>
      <%= r.collection_select :registrar_id, Registrar.all, :id, :name %>
    </div>
    <div>
      <%= r.label :animal %>
      <%= r.collection_select :animal_id, Animal.all, :id, :get_drop_down_name %>
    </div>
    <div>
      <%= r.label :registration %>
      <%= r.text_field :registration %>
    </div>
    <div>
      <%= r.label :note %>
      <%= r.text_area :note %>
    </div>
    <div>
      <%= r.submit %>
    </div>
<% end %>
