<!DOCTYPE html>
<html>
  <head>
    <title>SemenHubDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <ul>
        <li><%= link_to "User", User %></li>
        <li><%= link_to "Storage Facilities", StorageFacility %></li>
        <li><%= link_to "Animals", Animal %></li>
        <li><%= link_to "Registrations", Registration %></li>
        <li><%= link_to "Transactions", InventoryTransaction %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
