<%= form_for @user, url: {action: :updatepassword} do |f| %>
  <div>
    Changing password for <%="#{@user.first_name} #{@user.last_name}" %>
  </div>
  <div>
    <%= f.label :password, "New password" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>

