<div>
  <%= link_to "All Users", users_path %>
</div>
<div>
  <%= link_to "edit", edit_user_path(@user) %>
</div>
<div>
  <%= link_to "Change Password", action: :editpassword %>
</div>
<div>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "Are you sure you want to delete #{@user.first_name}'s account?" } %>
</div>
<div class="commission">
  <span class="percent"><%= @user.commission.commission_percent %></span>% Commission
  <span class="edit-commission link">edit</span>
</div>
<div>
  <%= @user.first_name %>
  <%= @user.last_name %>
</div>
<div>
  Spouse: <%= @user.spouse_name %>
</div>
<div class="roles">
  <%= link_to "Edit user roles", action: :editrole %>
  <% if @user.roles %>
    <div class="instruction">
      Hover to see permissions granted
    </div>
    <% @user.roles.each do |role| %>
      <div class="role">
        <h4><%= role.name %></h4>
        <table>
          <thead>
            <th>Permission</th>
            <th>Description</th>
          </thead>
          <tbody>
            <% role.permissions.each do |perm| %>
              <tr>
                <td><%= perm.name %></td>
                <td><%= perm.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% else %>
    <div class="norole">
      No Roles/Permissions
    </div>
  <% end %>
</div>
</div>
<div>
  Primary Phone: <%= @user.phone_primary %>
  Other Phone: <%= @user.phone_secondary %>
</div>
<div>
  Email: <%= @user.email %>
</div>
<div>
  Website: <%= @user.website %>
</div>
<%= render 'address_show', addr_label: "Mailing Address", addr: @user.mailing_address %>
<%= render 'address_show', addr_label: "Billing Address", addr: @user.billing_address %>
<%= render 'address_show', addr_label: "Payee Address", addr: @user.payee_address if @user.payee_address %>
