Order Items
<table>
  <thead>
  <tr>
    <th>SKU ID</th>
    <th>Animal name</th>
    <th>Semen Count</th>
    <th>Semen Type</th>
    <th>Storage Facility</th>
    <th>price per unit</th>
    <th>Order Quantity</th>
    <th>Cost</th>
  </tr>
  </thead>
  <tbody>
  <% @purchase.inventory_transactions.each do |trans| %>
      <tr>
        <td><%= trans.sku.id %></td>
        <td><%= trans.sku.animal.name %></td>
        <td><%= trans.sku.semen_count %></td>
        <td><%= trans.sku.semen_type %></td>
        <td><%= trans.sku.storagefacility.name %></td>
        <td><%= trans.sku.price_per_unit %></td>
        <td><%= -trans.quantity %></td>
        <td><%= -trans.quantity * trans.sku.price_per_unit %></td>
      </tr>
  <% end %>
  </tbody>
</table>
Other Line Items (Fees, Shipping, Reimbursments, Adjustments)
<table>
  <thead>
    <tr>
      <th>Line Item</th>
      <%# <th>Notes</th> %>
      <th>Cost</th>
      <% if current_user.can?(:adjust_line_items) %>
        <th></th>
      <% end %>
  </thead>
  <tbody>
    <% @purchase.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.name %></td>
        <td><%= line_item.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.can?(:add_line_items) %>
  <%= link_to "new line item", new_purchase_line_item_url(purchase_id: params[:id]) %>
<% end %>


<div class="total">
  Total: <%= @purchase.total %>
</div>
