<div id="purchase" data-purchase-state="<%= @purchase.state %>" ></div>
<% flash.each do |name, msg| -%>
    <%= content_tag :h2, msg, class: name %>
<% end -%>

<% if current_user.can? :admin_purchases %>
  <div>
    <h3>Administrative Controls</h3>
    <%= render 'change_state_form', state: 'invoiced', submit: 'Clear for payment', warn: "Do you want to allow #{@purchase.user.get_name} to pay for this order for #{@purchase.total}" %>
    <%= render 'change_state_form', state: 'invoiced', submit: 'Mark Unpaid', warn: "This will mark this purchase as unpaid and send a new invoice to #{@purchase.user.get_name} for #{@purchase.total}" %>
    <%= render 'change_state_form', state: 'paid', submit: 'Mark Paid', warn: "Only continue if the payment method used has fully cleared, as this will send release orders and shipping orders." %>
    <%= render 'change_state_form', state: 'shipped', submit: 'Mark Shipped', warn: "This will notify the user that their order has shipped." %>
    <%= render 'change_state_form', state: 'delivered', submit: 'Mark Delivered', warn: "This will notify the user that their order has been delivered." %>
    <%= render 'change_state_form', state: 'created', submit: 'Reset Order', warn: "This will reset the state of the order to allow changing the shipment destination. This will also mark the order as Unpaid" %> </div>
<% end %>

<div>
  Purchase Number: <%= @purchase.id %>
</div>
<div>
  User: <%= @purchase.user.get_name %>
</div>
<div>
  Purchase State: <%= @purchase.state %>
</div>
<div class="shipments">
  <% @purchase.shipments.each do |shipment| %>
    <div class="shipment">
      <div class="origin">
        Origin Address
        <div>
          <%= shipment.origin_account %>
        </div>
        <div>
          <%= shipment.origin_name %>
        </div>
        <div>
          <%= shipment.origin_address.line1 %>
        </div>
        <div>
          <%= shipment.origin_address.line2 %>
        </div>
        <div>
          <%= shipment.origin_address.city%>, <%= shipment.origin_address.region %> <%= shipment.origin_address.postal_code %>
        </div>
        <div>
          <%= shipment.origin_address.country.name %>
        </div>
      </div>
      <div class="destination">
        Destination Address
        <div>
          <%= shipment.account_name %>
        </div>
        <div>
          <%= shipment.location_name %>
        </div>
        <div>
          <%= shipment.address.line1 %>
        </div>
        <div>
          <%= shipment.address.line2 %>
        </div>
        <div>
          <%= shipment.address.city %>, <%= shipment.address.region %> <%= shipment.address.postal_code %>
        </div>
        <div>
          <%= shipment.address.country.name %>
        </div>
      </div>
      <% if shipment.tracking_number %>
        <div class="tracking">
          Tracking Number
          <div>
            <%= shipment.tracking_number %>
          </div>
          <div>
            <% if current_user.superuser? %>
              <%= link_to 'Change tracking number', [@purchase, shipment] %>
            <% end %>
          </div>
        </div>
      <% elsif current_user.superuser? %>
        <div class="tracking">
          <%= link_to 'Set tracking number', [@purchase, shipment] %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'invoice' %>
<div>
  <%= render @partial if @partial %>
</div>
