
<% flash.each do |name, msg| -%>
    <%= content_tag :h2, msg, class: name %>
<% end -%>

<% if current_user.can? :admin_purchases %>
  <div>
    <h3>Administrative Controls</h3>
    <%= render 'change_state_form', state: 'invoiced', submit: 'Clear for payment', warn: "Do you want to allow #{@purchase.user.get_name} to pay for this order for #{@purchase.total}" %>
    <%= render 'change_state_form', state: 'invoiced', submit: 'Mark Unpaid', warn: "This will mark this purchase as unpaid and send a new invoice to #{@purchase.user.get_name} for #{@purchase.total}" %>
    <%= render 'change_state_form', state: 'paid', submit: 'Mark Paid', warn: "Only continue if the payment method used has fully cleared, as this will send release orders and shipping orders." %>
    <%= render 'change_state_form', state: 'shipped', submit: 'Mark Shipped', warn: "This will notify the user that their order has shipped." %>
    <%= render 'change_state_form', state: 'delivered', submit: 'Mark Delivered', warn: "This will notify the user that their order has been delivered." %>
    <%= render 'change_state_form', state: 'created', submit: 'Reset Order', warn: "This will reset the state of the order to allow changing the shipment destination. This will also mark the order as Unpaid" %>
  </div>
<% end %>

<div>
  Purchase Number: <%= @purchase.id %>
</div>
<div>
  User: <%= @purchase.user.get_name %>
</div>
<div>
  Purchase State: <%= @purchase.state %>
</div>
<div>
  <% if @purchase&.shipment&.address %>
    Destination Address
    <div>
      <%= @purchase.shipment.account_name %>
    </div>
    <div>
      <%= @purchase.shipment.location_name %>
    </div>
    <div>
      <%= @purchase.shipment.address.line1 %>
    </div>
    <div>
      <%= @purchase.shipment.address.line2 %>
    </div>
    <div>
      <%= @purchase.shipment.address.city %>, <%= @purchase.shipment.address.region %> <%= @purchase.shipment.address.postal_code %>
    </div>
    <div>
      <%= @purchase.shipment.address.country.name %>
    </div>
  <% end %>
</div>
<%= render 'invoice' %>
<div>
  <%= render @partial if @partial %>
</div>
