<div class="badge right">
  <div class="type">
    Purchase Order
  </div>
  <table>
    <tbody>
      <tr>
        <td>Date:</td>
        <td><%= l Date.today %></div>
      </tr>
      <tr>
        <td>PO #</td>
        <td><%= @purchase.id %>-<%= @order_items.map(&:sku).map(&:id).join(".")%></td>
      </tr>
      <tr>
        <td>Seller #</td>
        <td><%= @seller.id %></td>
      </tr>
      <tr>
        <td>Seller Name</td>
        <td><%= @seller.get_name %></td>
      </tr>
      <tr>
        <td>Seller Address</td>
        <td><p><%= @seller.payee_address.pretty_print %></p></td>
      </tr>
    </tbody>
  </table>
</div>
