<div class="block raw-content">
  <table class="address left">
    <thead>
      <tr>
        <th>Ship To</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Attn/Acct: <%= @purchase.shipment.account_name %></td>
      </tr>
      <tr>
        <td><%= @purchase.shipment.location_name %></td>
      </tr>
      <tr class="line1">
        <td><%= @purchase.shipment.address.line1 %></td>
      </tr>
      <tr>
        <td><%= @purchase.shipment.address.line2 %></td>
      </tr>
      <tr>
        <td><%= @purchase.shipment.address.city %>, <%= @purchase.shipment.address.region %> <%= @purchase.shipment.address.postal_code %></td>
      </tr>
      <tr>
        <td><%= @purchase.shipment.address.country.name %></td>
      </tr>
    </tbody>
  </table>
  <table class="address right">
    <thead>
      <tr>
        <th>Bill To</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Craig Perez</td>
      </tr>
      <tr>
        <td>SEMEN HUB</td>
      </tr>
      <tr class="line1">
        <td>PO BOX 327</td>
      </tr>
      <tr>
        <td>Cleburne, TX 76033-0327</td>
      </tr>
      <tr>
        <td>United States</td>
      </tr>
    </tbody>
  </table>
</div>
