<%= form_for @animal do |a| %>
    <div>
      <%= a.label :name, get_field_errors(@animal, :name) %>
      <%= a.text_field :name %>
    </div>
    <div>
      <%= a.label :description, get_field_errors(@animal, :description) %>
      <%= a.text_field :description %>
    </div>
    <div>
      <%= a.label :notes, get_field_errors(@animal, :notes) %>
      <%= a.text_field :notes %>
    </div>
    <div>
      <%= a.label :private_herd_number, get_field_errors(@animal, :private_herd_number) %>
      <%= a.text_field :private_herd_number %>
    </div>
    <div>
      <%= a.label :dna_number, get_field_errors(@animal, :dna_number) %>
      <%= a.text_field :dna_number %>
    </div>
    <div>
      <%= a.label :owner_id, get_field_errors(@animal, :owner_id) %>
      <%= a.collection_select :owner_id, User.all, :id, :get_name %>
    </div>
    <div>
      <%= a.label :breed_id, get_field_errors(@animal, :breed_id) %>
      <%= a.collection_select :breed_id, Breed.all, :id, :breed_name %>
    </div>
    <div id="registryinfo">
      <!-- empty for JS --!>
    </div>
    <%= a.submit %>
<% end %>
