<%= form_for @animal do |a| %>
    <div>
      <%= a.label :name, get_field_errors(@animal, :name) %>
      <%= a.text_field :name %>
    </div>
    <div>
      <%= a.label :owner_id, get_field_errors(@animal, :owner_id) %>
      <%= a.collection_select :owner_id, User.all, :id, :get_name %>
    </div>
    <div>
      <%= a.label :breed_id, get_field_errors(@animal, :breed_id) %>
      <%= a.collection_select :breed_id, Breed.all, :id, :breed_name %>
    </div>
    <%= a.submit %>
<% end %>
