<div>
  <%= link_to 'All Animals', animals_path %>
</div>
<div>
  <%= link_to 'Edit Animal', edit_animal_path(@animal) %>
</div>
<div>
  <%= link_to 'Remove Animal', @animal, method: :delete, data: { confirm: 'Are you sure you want to remove this animal?' } %>
</div>
<div>
  Breed: <%= @animal.breed.breed_name unless @animal.breed.nil? %>
</div>
<div>
  Name: <%= @animal.name %>
</div>
<div>
  Description Override: <%= @animal.description %>
</div>
<div>
  Notes Override: <%= @animal.notes %>
</div>
<div>
  Owner Name: <%= "#{@animal.owner.first_name} #{@animal.owner.last_name}" %>
</div>
<div>
  Private Herd Number: <%= @animal.private_herd_number ? @animal.private_herd_number : "N/A" %>
</div>
<div>
  DNA Number: <%= @animal.dna_number ? @animal.dna_number : "N/A" %>
</div>
<div>
  Registrations
  <table>
    <thead>
      <tr>
        <th>Registrar</th>
        <th>Registration</th>
        <th>AI Certification</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @animal.registrations.each do |registration| %>
        <tr>
          <td><%= registration.registrar.name %></td>
          <td><%= link_to registration.registration, registration %></td>
          <td><%= registration.ai_certification %></td>
          <td><%= registration.note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  all stock
  <table>
    <thead>
    <tr>
      <th>Sku</th>
      <th>Quantity</th>
      <th>Private</th>
      <th>Semen Type</th>
      <th>Price Per Unit</th>
      <th>Semen Count</th>
      <th>Storage Facility</th>
      <th>Seller</th>
    </tr>
    </thead>
    <tbody>
    <% @skus.each do |t| %>
        <tr>
          <td><%= link_to "SKU #{t.id}", sku_path(t) %></td>
          <td><%= t.quantity %></td>
          <td><%= t.private %></td>
          <td><%= t.semen_type %></td>
          <td>$<%= t.price_per_unit %></td>
          <td><%= t.semen_count %></td>
          <td><%= t.storagefacility.name %></td>
          <td><%= t.seller.get_name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
