<%= form_for @facility do |f| %>
    <div>
      <%= f.label :name, get_field_errors(@facility, :name) %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :phone_number, get_field_errors(@facility, :phone_number) %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label :email, get_field_errors(@facility, :email) %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :website, get_field_errors(@facility, :website) %>
      <%= f.text_field :website %>
    </div>
    <div>
      <%= f.label :shipping_provider, get_field_errors(@facility, :shipping_provider) %>
      <%= f.select :shipping_provider, StorageFacility.shipping_providers.keys %>
    </div>
    <div>
      <%= f.label :straws_per_shipment %>
      <%= f.number_field :straws_per_shipment %>
    </div>
    <div>
      <%= f.label :mailing_address %>
      <%= f.fields_for :mailing_address, @facility.address do |addr| %>
          <%= render "address", addr: addr, model: @facility.address %>
      <% end %>
    </div>
    <div>
      <%= f.label :out_adjust %>
      <%= f.number_field :out_adjust %>
    </div>
    <div>
      <%= f.label :in_adjust %>
      <%= f.number_field :in_adjust %>
    </div>
    <div>
      <%= f.label :admin_required %>
      <%= f.check_box :admin_required %>
    </div>
    <%= f.submit %>
<% end %>
