<%= link_to "Create Facility", new_storage_facility_path %>
<table>
  <thead>
  <tr>
    <th>Profile</th>
    <th>Location</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Website</th>
    <th>Shipping Provider</th>
    <th>Straws Per Container</th>
  </tr>
  </thead>
  <tbody>
  <% @facilities.each do |facility| %>
      <tr>
        <td><%= link_to facility.name, facility %></td>
        <td><%= facility.address.get_location %></td>
        <td><%= facility.phone_number %></td>
        <td><%= facility.email %></td>
        <td><%= facility.website %></td>
        <td><%= facility.shipping_provider %></td>
        <td><%= facility.straws_per_shipment %></td>
      </tr>
  <% end %>
  </tbody>
</table>
