<div>
  <%= link_to "All Facilities", storage_facilities_path %>
</div>
<div>
  <%= link_to :edit, edit_storage_facility_path(@facility) %>
</div>
<div>
  <%= link_to "delete", @facility, method: :delete, data: {confirm: 'Are you sure you want to delete this facility'} %>
</div>
<div>
  Facility Name: <%= @facility.name %>
</div>
<% if @facility.admin_required %>
  <em>Requires Administrative Approval</em>
<% end %>
<div>
  Email: <%= @facility.email %>
</div>
<%= render 'address_show', addr: @facility.address %>
<div>
  Phone Number: <%= @facility.phone_number %>
</div>
<div>
  Webside: <%= @facility.website %>
</div>
<div>
  Shipping Provider: <%= @facility.shipping_provider %>
</div>
<div>
  Straws Per Container: <%= @facility.straws_per_shipment %>
</div>
<div>
  Out Adjust: <%= @facility.out_adjust %>
</div>
<div>
  In Adjust: <%= @facility.in_adjust %>
</div>
<div class="test_shipment seperate">
  <h4>Test Shipment</h4>
  <%= collection_select :storagefacility, :id, StorageFacility.all.order(:name), :id, :name, class: "sf-collection" %>
  <div>Total Cost:<span class="test-total test-span">N/A</span></div>
  <div>Out Cost:<span class="test-out test-span">N/A</span></div>
  <div>In Cost:<span class="test-in test-span">N/A</span></div>
</div>
