<div class="address">
  <div class="line1">
    <%= addr.line1 %>
  </div>
  <div class="line2">
    <%= addr.line2 %>
  </div>
  <div class="line3">
    <%= addr.city %>,
    <%= addr.region %>
    <%= addr.postal_code %>
  </div>
  <div class="country">
    <%= addr.country.name %>
  </div>
</div>
