<%= form_for @facility do |f| %>
    <div>
      <%= f.label :phone_number, get_field_errors(@facility, :phone_number) %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%=	f.label :website, get_field_errors(@facility, :website) %>
      <%= f.text_field :website %>
    </div>
    <div>
      <%= f.label :storage_fee, get_field_errors(@facility, :storage_fee) %>
      <%= f.text_field :storage_fee %>
    </div>
    <div>
      <%= f.label :release_fee, get_field_errors(@facility, :release_fee) %>
      <%=	f.text_field :release_fee %>
    </div>
    <div>
      <%= f.label :mailing_address %>
      <%= f.fields_for :mailing_address, @facility.address do |addr| %>
          <%= render "address", addr: addr, model: @facility.address %>
      <% end %>
    </div>
    <%= f.submit %>
<% end %>