<div>
  <%= link_to :edit, edit_storage_facility_path(@facility) %>
</div>
<div>
  <%= link_to "delete", @facility, method: :delete, data: {confirm: 'Are you sure you want to delete this facility'} %>
</div>
<div>
  Facility Name: <%= @facility.name %>
</div>
<%= render 'address_show', addr: @facility.address %>
<div>
  Phone Number: <%= @facility.phone_number %>
</div>
<div>
  Webside: <%= @facility.website %>
</div>
<div>
  Storage Fee: <%= @facility.storage_fee %>
</div>
<div>
  Release Fee: <%= @facility.release_fee %>
</div>