<%= form_for @animal do |a| %>
    <div>
      <%= a.label :name, get_field_errors(@animal, :name) %>
      <%= a.text_field :name %>
    </div>
    <div>
      <%= a.label :owner, get_field_errors(@animal, :owner) %>
      <%= a.collection_select :owner, User.all, :id, :to_s, include_blank: true %>
    </div>
    <%= a.submit %>
<% end %>
