<%= form_for @animal do |a| %>
    <div>
      <%= a.label :name, get_field_errors(@animal, :name) %>
      <%= a.text_field :name %>
    </div>
    <div>
      <%= a.label :registration, get_field_errors(@animal, :registration) %>
      <%= a.text_field :registration %>
    </div>
    <div>
      <%= a.label :registration_type, get_field_errors(@animal, :registration_type) %>
      <%= a.text_field :registration_type %>
    </div>
    <div>
      <%= a.label :owner, get_field_errors(@animal, :owner) %>
      <%= a.collection_select :owner, User.all, :id, :to_s, include_blank: true %>
    </div>
    <div>
      <%= a.fields_for :breed, @animal.breed do |breed| %>
        <div>
          <%= breed.label :breed_id, get_field_errors(@animal, :breed) %>
          <%= breed.collection_select :breed_id, Breed.all, :breed_name, :breed_name %>
        </div>
      <% end %>
    </div>
    <%= a.submit %>
<% end %>
