<%= link_to 'Add Animal', new_animal_path %>
<table>
  <thead>
  <tr>
    <th>Owner Profile</th>
    <th>Animal Profile</th>
    <th>Breed</th>
    <th>Registration</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @animals.each do |animal| %>
      <tr>
        <td><%= link_to animal.owner.get_name, animal.owner %></td>
        <td><%= link_to 'Animal Profile', animal %></td>
        <td><%= animal.breed.breed_name unless animal.breed.nil? %></td>
        <td><%= animal.get_registrations %></td>
        <td><%= animal.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>