<%= form_for @animal do |a| %>
  <div>
    <%= a.label :name, get_field_errors(@animal, :name) %>
    <%= a.text_field :name %>
  </div>
  <div>
    <%= a.label :registration, get_field_errors(@animal, :registration) %>
    <%= a.text_field :registration %>
  </div>
  <div>
    <%= a.label :registration_type, get_field_errors(@animal, :registration_type) %>
    <%= a.text_field :registration_type %>
  </div>
  <div>
    <%= a.label :owner, get_field_errors(@animal, :owner) %>
    <%= a.collection_select :owner, User.all, :to_s, :to_s, :include_blank => true %>
  </div>
  <div>
    <%= a.label :breed, get_field_errors(@animal, :breed) %>
    <%= a.collection_select :breed, Breed.all, :to_s, :to_s, :include_blank => true %>
  </div>
  <%= a.submit %>

<% end %>