<div>
  <%= link_to 'Edit Animal', edit_animal_path(@animal) %>
</div>
<div>
  <%= link_to 'Remove Animal', @animal, method: :delete, data: { confirm: 'Are you sure you want to remove this animal?' } %>
</div>
<div>
  <%= @animal.breed.breed_name unless @animal.breed.nil? %>
</div>
<div>
  <%= @animal.name %>
</div>
<div>
  <!-- TODO show registrar list -->
</div>
<div>
  <%= "#{@animal.owner.first_name} #{@animal.owner.last_name}" %>
</div>
