<div>
  <%= link_to 'All Animals', animals_path %>
</div>
<div>
  <%= link_to 'Edit Animal', edit_animal_path(@animal) %>
</div>
<div>
  <%= link_to 'Remove Animal', @animal, method: :delete, data: { confirm: 'Are you sure you want to remove this animal?' } %>
</div>
<div>
  Breed: <%= @animal.breed.breed_name unless @animal.breed.nil? %>
</div>
<div>
  Name: <%= @animal.name %>
</div>
<div>
  Registrations:
  <% @animal.registrations.each do |registration| %>
    <%= link_to registration.registration, registration %><%= "," unless @animal.registrations.last == registration %>
  <% end %>
</div>
<div>
  Owner Name: <%= "#{@animal.owner.first_name} #{@animal.owner.last_name}" %>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Private</th>
      <th>Semen Type</th>
      <th>Price Per Unit</th>
      <th>Semen Count</th>
      <th>Storage Facility</th>
      <th>Seller</th>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |t| %>
        <tr>
          <td><%= link_to "See Overview", inventory_transaction_path(t) %></td>
          <td><%= t.quantity %></td>
          <td><%= t.private %></td>
          <td><%= ["Conventional","Male Sexed","Female Sexed"][t.semen_type] %></td>
          <td>$<%= t.price_per_unit %></td>
          <td><%= ["2.1","5.0"][t.semen_count] %></td>
          <td><%= t.storageFacility.name %></td>
          <td><%= t.seller.get_name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
