<%= form_for @transaction do |f| %>
    <div>
      <%= f.label :quantity, get_field_errors(@transaction, :quantity) %>
      <%= f.text_field :quantity %>
    </div>
    <em>Sku properties!</em>
    <p>These fields are used to select the appropiate SKU for this transaction, if no matching SKU is found a new one will be made.
      <% if @transaction.sku and @transaction.sku.id %>
        If you are trying to change the SKU's properties for all transactions attached you should <%= link_to "edit this SKU", edit_sku_path(@transaction.sku) %> instead.
      <% end %>
    </p>

    <%= render 'skus/form', sku: @transaction.sku, f: f, nosubmit: true, fieldsfor: true %>

    <div>
      <%= f.submit %>
    </div>
<% end %>
