<%= link_to 'Add Transaction', new_inventory_transaction_path %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Private</th>
      <th>Semen Type</th>
      <th>Price Per Unit</th>
      <th>Cost Per Unit (effective)</th>
      <th>Commission (effective)</th>
      <th>Semen Count</th>
      <th>Animal Name</th>
      <th>Animal Owner</th>
      <th>Storage Facility</th>
      <th>Seller</th>
    </tr>
  </thead>
  <tbody>
    <% @skus.each do |sku| %>
      <tr>
        <td><%= link_to "See Overview", inventory_transaction_path(sku) %></td>
        <td><%= sku.inventory_transaction.sum(:quantity) %></td>
        <td><%= sku.private %></td>
        <td><%= sku.semen_type %></td>
        <td><%= number_to_currency(sku.price_per_unit) %></td>
        <%= render "cpu_commission", transaction: sku%>
        <td><%= sku.semen_count %></td>
        <td><%= sku.animal.name %></td>
        <td><%= sku.animal.owner.get_name %></td>
        <td><%= sku.storagefacility.name %></td>
        <td><%= sku.seller.get_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
