<%= link_to "back", InventoryTransaction %>
<%= link_to "edit", edit_inventory_transaction_path(@transaction) %>
<table class="nosort">
  <thead>
    <th>Transaction ID</th>
    <th>Sku</th>
    <th>Quantity</th>
    <th>Created at</th>
    <th>Updated at</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @transaction.id %></td>
      <td><%= link_to @transaction.sku.id, @transaction.sku %></td>
      <td><%= @transaction.quantity %></td>
      <td><%= @transaction.created_at %></td>
      <td><%= @transaction.updated_at %></td>
    </tr>
  </tbody>
</table>
