<h2>Shipping Order #<%= @shipment.purchase.id %>.<%= StorageFacility.find_by_address_id(@shipment.origin_address_id).id %></h2>

<% if @shipment.tracking_number %>
  <div>
    Tracking Number: <em><%= @shipment.tracking_number %></em>
  </div>
  <div>
    If this is incorrect please contact Craig Perez at semenhub@gmail.com with the subject line "SO#<%= @shipment.purchase.id %>.<%= StorageFacility.find_by_address_id(@shipment.origin_address_id).id%> tracking number change"
  </div>
<% else %>
  <%= form_for [@shipment.purchase,@shipment] do |f| %>
    <%= f.label :tracking_number %>
    <%= f.text_field :tracking_number %>
    <%= f.submit 'Set Tracking Number' %>
  <% end %>
<% end %>
