<!DOCTYPE html>
<html>
  <head>
    <title>SemenHubDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <ul>
        <li><%= link_to "User", User %></li>
        <li><%= link_to "Commissions", Commission %></li>
        <li><%= link_to "Storage Facilities", StorageFacility %></li>
        <li><%= link_to "Animals", Animal %></li>
        <li><%= link_to "Registrations", Registration %></li>
        <li><%= link_to "Transactions", InventoryTransaction %></li>
      </ul>
    </div>
    <div id="user_management">
      <% if current_user %>
        <span id="welcome">Welcome <%= current_user.first_name %> <%= current_user.last_name %></span>
        <%= link_to "Logout", '/logout' %>
        <%= link_to "Profile", '/profile' %>
      <% else %>
        <%= link_to "Login", "/login" %>
        <%= link_to "Register", controller: :users, action: :new %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
