<!DOCTYPE html>
<html>
  <head>
    <title>SemenHubDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= "data-params-id=#{params[:id]}" if params.has_key?(:id) %> <%= "data-params-controller=#{params[:controller]}" if params.has_key?(:controller) %> <%= "data-params-action=#{params[:action]}" if params.has_key?(:action) %> >
    <div id="navbar">
      <ul>
        <li><a href="http://semenhub.com">Back to SemenHub.com</a></li>
        <% [User, Commission, StorageFacility, Animal, Breed, Registration, Sku, InventoryTransaction, Fee, Purchase, Setting].each do |model| %>
          <% if current_user and current_user.can?(:"use_#{model.to_s.underscore.pluralize}_controller") %>
            <li><%= link_to model.to_s.underscore.humanize.pluralize, model %></li>
          <% end %>
        <% end %>
        <% if current_user and current_user.can?(:backend_order) %>
          <li><%= link_to 'View Cart', '/cart'%></li>
        <% end %>
      </ul>
    </div>
    <div id="user_management">
      <% if current_user %>
        <span id="welcome">Welcome <%= current_user.first_name %> <%= current_user.last_name %></span>
        <%= link_to "Logout", '/logout' %>
        <%= link_to "Profile", '/profile' %>
      <% else %>
        <%= link_to "Login", "/login" %>
        <%= link_to "Register", controller: :users, action: :new %>
      <% end %>
    </div>
    <%= yield %>
    <footer>
      <p>For help with your order please contact Craig Perez at (979) 906-0043</p>
    </footer>
  </body>
</html>
